@charset "utf-8";

button .w {
    margin: 0;
}

/*.li1 .fl2 {
    _float: none;
}

.li1 a {
    _zoom: 1;
}

.st1 {
    _position: static;
}

.bt5 {
    _height: 26px;
     *margin-right: 4px; 
}

.nv3 {
    _width: 99%;
}

.u_vc {
    *left: -9999em;
}

.u_ts img {
    _vertical-align: top;
}

.u_gnbu_w, .u_gnbu, .u_ftsw {
    _zoom: 1;
}

.u_gnbn {
    _margin-top: 11px;
    _vertical-align: 0;
}*/

.u_ftsw .u_ftst .u_ico {
    background: url(http://static.naver.net/m/comic/im/2012/arr_top_s.gif) 8px 8px no-repeat;
}

.webtoon_lst .author {
    overflow: hidden;
    height: 36px;
}

    .webtoon_lst .author strong, .webtoon_lst .author span {
        height: 15px;
    }

.toon_lst2 .author strong {
    overflow: hidden;
    height: 16px;
}

.age_lst li {
    width: 16%;
}

    .age_lst li a {
        margin: 0;
    }

.u_pg3 {
    position: relative;
    width: 180px;
    margin: 14px auto 15px;
    text-align: center;
}

    .u_pg3 a {
        display: inline-block;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 38px;
        height: 22px;
        border: 1px solid #bcbcbc;
        background: #f9f9f9 url(http://static.naver.net/m/comic/im/ib3.png) no-repeat;
    }

    .u_pg3 .prev {
        left: 0;
        background-position: 14px 5px;
    }

    .u_pg3 .next {
        right: 0;
        background-position: 8px -34px;
    }

.u_pg3_pg {
    display: inline-block;
    font-size: 1.07em;
    font-weight: bold;
    line-height: 1.57em;
    color: #181818;
}

    .u_pg3_pg span {
        color: #5e5e5e;
    }

.sort li {
    float: left;
    height: 29px;
    padding: 0;
    color: #5e5e5e;
    font-size: 13px;
    white-space: nowrap;
    vertical-align: top;
    line-height: 29px;
}

    .sort li input {
        display: inline-block;
        position: relative;
        top: 6px;
        vertical-align: top;
    }

.toon_tit .sub_menu a {
    padding-top: 6px;
    height: 20px;
    line-height: normal;
}

.u_clrt {
    text-indent: -9999px;
}
